<div fxLayout="column" fxAlignGap="10px">
  <form #regn="ngForm" (ngSubmit)="addMyRegn(regn)">
  
    <mat-form-field>
      <input type="text" placeholder="Your name"
      [(ngModel)]="regn.name" #nameField="ngModel"
      name="name" ngModel matInput required minlength="2" maxlength="20" class="mid">
      <mat-hint>Your official name</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input type="email" placeholder="Your email"
      [(ngModel)]="regn.email" #emailField="ngModel" 
      name="email" ngModel matInput required email class="mid">
      <mat-hint>Must be a valid email</mat-hint>
      <mat-error *ngIf="emailField.hasError('email')"></mat-error>
      
    </mat-form-field>

    <mat-form-field>
      <input type="password" placeholder="Your password"
      [(ngModel)]="regn.passowrd" #passwordField="ngModel"
      name="password" pattern="@[a-zA-Z0-9]+#[a-zA-Z0-9]+$[a-zA-Z0-9]" ngModel matInput required minlength="8" class="mid">
      <mat-hint>Your password must have at least 8 characters and contain uppercase & lowercase letters, at least one number, at least one special character @, #, or $ </mat-hint>
      <mat-error *ngIf="passwordField.hasError('password')"></mat-error>
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button type="radio" value="1">Female</mat-radio-button>
      <mat-radio-button Type="radio" value="2">Male</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <input name="dob" placeholder="Date of Birth" ngModel matInput [matDatepicker]="mydate" class="mid">
      <mat-datepicker-toggle matSuffix [for]="mydate">
        </mat-datepicker-toggle>    
        <mat-datepicker #mydate></mat-datepicker> 
      </mat-form-field>
  
      <div>

     
      <mat-form-field>
       <input type="text" placeholder="Your block or building name"
        #blockField="ngModel"
        name="block" ngModel matInput required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Your street name"
        #streetField="ngModel"
        name="street" ngModel matInput required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Your unit-number"
        #unitField="ngModel"
        name="unit" ngModel matInput required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Your country"
        #countryField="ngModel"
        name="country" ngModel matInput required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Your postal code"
        #postalField="ngModel"
        name="postal" ngModel matInput required>
      </mat-form-field>
    </div>

      <mat-form-field>
        <input type="text" placeholder="Your contact number"
        [(ngModel)]="regn.contact" #contactField="ngModel"
        name="contact" pattern="^(?!.* )[0-9 ]*$" ngModel matInput required>
        <mat-hint>Only numbers, space, +, - and round brackets allowed</mat-hint>
      <mat-error *ngIf="contactField.hasError('password')"></mat-error>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="warn"
      [disabled]="regn.invalid">Submit</button>

   </form>
</div>